.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding: 0px 0px 0px 0px;
  }
}

.header-list__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--all-timing-animation);
  transition-timing-function: var(--all-transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo-icon-close-menu,
.menu-icon {
  fill: var(--secondary-text-color);
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header {
  .conteiner {
    display: flex;
    align-items: center;
  }
}

.header-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0px 0px 0px 0px;
  background: transparent;
  &:hover {
    .menu-icon {
      fill: var(--accent-color);
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-right__auth {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.header-right {
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-list__item {
  position: relative;
}

.current::after {
  display: none;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  .header-list__item & {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-right__tel,
.header-right__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: var(--all-timing-animation);
  transition-timing-function: var(--all-transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-right__mail {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.header-right__auth {
  margin-left: 82px;
}

.header-right__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.logo-icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: var(--all-timing-animation);
  transition-timing-function: var(--all-transition-timing-function);
  .header-right__tel:hover &,
  .header-right__mail:focus &,
  .header-right__tel:focus &,
  .header-right__mail:hover & {
    fill: var(--accent-color);
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
  }
}

.mob-menu {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-relative {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 48px 0px 48px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 480px) {
    padding: 48px 0px 48px 40px;
  }
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  padding: 0px 0px 0px 0px;
  background: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .logo-icon-close-menu {
      fill: var(--accent-color);
    }
  }
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  &:hover {
    color: var(--accent-color);
  }
}

.mob-menu-auth-list__tel {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
  display: block;
  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: 1.17;
  }
}

.mob-menu-auth-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-menu-auth-list {
  margin-bottom: 64px;
}

.menu-social-list {
  display: flex;
}

.menu-social-list__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.menu-social-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media screen and (min-width: 480px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
