.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--all-timing-animation);
  transition-timing-function: var(--all-transition-timing-function);
  .socials-link:focus &,
  .socials-link:hover & {
    fill: #ffffff;
  }
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: var(--all-timing-animation);
  transition-timing-function: var(--all-transition-timing-function);
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover {
    background-color: var(--accent-color);
  }
}
