:root {
  --main-title-color: #ffffff;
  --socondary-background-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --card-betwen: 30px;
  --all-timing-animation: 250ms;
  --all-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
